@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: var(--font);
}

:root{
   --menu: #0a1931;
   --background: #1a3d63;
   --botoes: #b3cfe5;
   --titulos: #f6fafd;
   --secundaria: #4a7fa7; 
   --font: "Poppins", sans-serif;
}
body {
    background-color: var(--background);
}
.header {
    background-color: var(--menu);
    padding-inline: 16px;
}
.nav {
    display: flex;
    justify-content: space-between;
    max-width: 1680px;
    gap: 6rem;
    margin-inline: auto;
    color: var(--titulos);
    padding-block: 10px;
}

.logo {
    margin-left: 7%;
    font-weight: bold;
}
.nav-list {
    display: flex;
    gap: 50px;
    list-style: none;
}

.nav-list a {
    padding-block: 10px;
    text-decoration: none;
    color: var(--titulos);
    padding: 5px;
}
.nav-list a:hover {
    background-color: var(--botoes);
    transition: 1s;
    color: #0a1931;
    border-radius: 10px;
}
.hamburger {
    display: none;
    border: none;
    background: none;
    border-top: 3px solid #fff;
    cursor: pointer;
}
.hamburger::before,
.hamburger::after {
   content: " ";
  display: block;
  width: 30px;
  height: 3px;
  background: #fff;
  margin-top: 5px;
  position: relative;
  transition: 0.3s;
}
.container-projeto {
    text-align: center;
}
.container-projeto h1 {
    margin: 20px;
    color: var(--titulos);
}
.imagem-container img{ 
    max-width: 750px;
}
.icons {
    display: flex;
    gap: 20px;
    justify-content: center;
   align-items: center;
   padding: 20px;
   
}
.skill {
    display: flex;
    align-items: center;
    gap: 8px;
    color: white;
    font-size: 18px;
}
.skill img{
    height: 20px;
    width: auto;
}
.conteudo {
    color: var(--titulos);
    margin-left: 400px;
    margin-right: 400px;
    text-align: justify;
    text-indent: 20px;
    padding-bottom: 30px;
}
.negrito {
    color: var(--botoes);
}
.destaque {
    color: var(--botoes);
    font-weight: bold;
}
.acesso {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    padding: 5px;
}
.acesso i {
    margin-right: 20px;
}
.button1 {
    background-color: var(--botoes);
    margin-right: 50px;
    padding: 20px;
}
.button1:hover {
    background-color: var(--secundaria);
    color: var(--titulos);
    transition: 0.5s;
}
.button2 {
    padding: 20px;
    margin-left: 50px;
     background-color: var(--botoes);
}
.button2:hover {
    background-color: var(--secundaria);
    color: var(--titulos);
    transition: 0.5s;
}
.acesso a {
    color: var(--menu);
    text-decoration: none;
}

@media  screen and (max-width: 780px) {
   .hamburger {
        content: " ";
        display: block;
        position: relative;
        width: 30px;
        height: 3px;
        background-color: var(--titulos);
        cursor: pointer;
        z-index: 10;
    }
    .nav-list {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: var(--menu);
    clip-path: circle(100px at 90% -15%);
    transition: 1s ease-out;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 0;

    pointer-events: none;

    }
    .nav-list a {
        font-size: 24px;
        opacity: 0;
    }
    .nav-list li:nth-child(1) a {
        transition: 0.5s 0.2s;
    }
    .nav-list li:nth-child(2) a {
        transition: 0.5s 0.4s;
    }
    .nav-list li:nth-child(3) a {
        transition: 0.5s 0.6s;
    }
   
     /* Estilos ativos */

  .nav.active .nav-list {
    clip-path: circle(1500px at 90% -15%);
    pointer-events: all;
  }

  .nav.active .nav-list a {
    opacity: 1;
  }

  .nav.active .hamburger {
    position: fixed;
    top: 26px;
    right: 16px;
    border-top-color: var(--menu);
  }

  .nav.active .hamburger::before {
    transform: rotate(135deg);
  }

  .nav.active .hamburger::after {
    transform: rotate(-135deg);
    top: -7px;
  }
     .imagem-container img{ 
    max-width: 250px;
}
.conteudo {
    margin: 50px;
    
}
.icons {
    flex-direction: column;
}
.acesso {
    display: flex;
    flex-direction: column;
}
.button1 {
    margin-right: 0px;
}
.button2 {
    margin-top: 20px;
    margin-left: 0px;
}
}