@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {

    /* =============== LIGHT MODE ====================== */

    /* ===========================================
      CORES DE BACKGROUND
     ===========================================
  */

    --primaryBack: #F6FAFD;
    --secundaryBack: #FFFF;
    --thirdBack: #0C1D39;
    --frourthBack: #1A3D63;
    --fifthBack: #4A7FA7;
    --sixthBack: #B3CFE5;
    --sevenback: #818B9B;


    /* ===========================================
      CORES DE TEXTO
     ===========================================
  */

    --primaryText: #0C1D39;
    --secundaryText: #0c1d39a9;
    --thirdText: #4A7FA7;
    --fourthText: #B3CFE5;
    --fifthText: #FFFF;

    /* ===========================================
      CORES DE ICONE
     ===========================================
  */

    --primaryIcon: #FFFF;
    --secundaryIcon: #F6FAFD;
    --thirdIcon: #4A7FA7;

    /* ===========================================
      CORES DE BORDA
     ===========================================
  */

    --primaryBorder: #b8bbbe;
    --secundaryBorder: #CED2D7;
    --thirdBorder: #818B9B;


    /* ===========================================
     TIPOGRAFIA
     ===========================================
  */

    --font-primary: "Work Sans", sans-serif;
    --font-secundary: "Raleway", sans-serif;

    --regular: 400;
    --medium: 500;
    --SemiBold: 600;
    --Bold: bold;

}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--primaryBack);
}

/* ==============================================
 CABEÇARIO
================================================= */
.header {
    background-color: var(--secundaryBack);
    color: var(--primaryText);
    padding-inline: 16px;
    border-bottom: 2px solid var(--primaryBorder);
}

.nav {
    display: flex;
    font-family: var(--font-secundary);
    justify-content: space-around;
    align-items: center;
    gap: 6rem;
    color: var(--primaryText);
    padding-block: 15px;
}

.logo {
    display: flex;
    align-items: center;
    font-family: var(--font-primary);
    font-weight: var(--regular);
}

.nav-list {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 50px;
}

.nav-list a {
    padding-block: 10px;
    text-decoration: none;
    color: var(--primaryText);
    font-weight: var(--SemiBold);
    padding: 5px;
}

.nav-list a:hover {
    transition: 0.5s !important;
    color: var(--fourthText) !important;
}


.modo {
    border: 1px solid var(--primaryBorder);
    background-color: var(--secundaryBack);
    cursor: pointer;
    padding: 10px;
    border-radius: 18px;
}

#moon:hover {
    transition: 0.5s;
    fill: var(--secundaryIcon);
}

.modo:hover {
    background-color: var(--sixthBack);
    transition: 0.5s;

}

/* === HEADER RESPONSIVO === */

.nav-responsive,
.navlist-responsive,
.hamburguer-menu {
    display: none;
}

.background {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #1a3d6398;
    z-index: 2;
    transition: ease-in 1s;
}

/* === Aréa de apresentação === */

main {
    background-color: var(--menu);
}

.coteudo-principal {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 211px;
    gap: 50px;
}

.img-principal{
    max-width: 35.7rem;
    border-radius: 100%;
    background-color: #1C3E62;
    box-shadow:0px 0px 40px #0c1d3983;
}


.apresetacao h1 {
    color: var(--thirdText);
    font-size: 3.5rem;
    padding-bottom: 50px;
    margin-top: 30px;
    font-weight: bold;
    font-family: var(--font-primary);
}

.apresetacao p {
    margin-bottom: 50px;
    font-family: var(--font-secundary);
    font-size: 20px;
    color: var(--secundaryText);
}

.buttonPrincipal {
    margin-top: 8rem;
    padding: 20px 35px;
    font-size: 1rem;
    color: var(--menu);
    text-decoration: none;
    background-color: var(--background);
    font-weight: bold;
}

.button-rede-sociais {
    display: flex;
    align-items: center;
    gap: 25px;
}

.button-email {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 20px;
    background-color: var(--thirdIcon);
    fill: var(--fifthText);
    color: var(--fifthText);
    padding: 20px 18px;
    border-radius: 12px;
    font-family: var(--font-primary);
    font-weight: bold;
    gap: 8px;
}

.button-email:hover {
      background-color: var(--sixthBack);
      color: var(--primaryText);
      fill: var(--primaryText);
      transition: ease-in 0.5s ;
}

.button-linkedIn {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 20px;
    background-color: var(--primaryBack);
    fill: var(--secundaryText);
    color: var(--secundaryText);
    font-family: var(--font-primary);
    font-weight: bold;
    border: 2px solid var(--thirdBorder);
    padding: 20px 25px;
    border-radius: 12px;
    gap: 8px;
}

.button-linkedIn:hover {
   background-color: var(--sevenback) !important;
   color: var(--fifthText) !important;
   fill: var(--fifthText) !important;
   transition: ease-in 0.5s !important;
}

.button-instagram {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 20px;
    background-color: var(--primaryBack);
    fill: var(--secundaryText);
    color: var(--secundaryText);
    font-family: var(--font-primary);
    font-weight: bold;
    border: 2px solid var(--thirdBorder);
    padding: 20px 25px;
    border-radius: 12px;
    gap: 8px;
}

.button-instagram:hover {
   background-color: var(--sevenback) !important;
   color: var(--fifthText) !important;
   fill: var(--fifthText) !important;
   transition: ease-in 0.5s !important;
}

.button-gitHub {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 20px;
    background-color: var(--primaryBack);
    fill: var(--secundaryText);
    color: var(--secundaryText);
    font-family: var(--font-primary);
    font-weight: bold;
    border: 2px solid var(--thirdBorder);
    padding: 20px 25px;
    border-radius: 12px;
    gap: 8px;
}

.button-gitHub:hover {
   background-color: var(--sevenback) !important;
   color: var(--fifthText) !important;
   fill: var(--fifthText) !important;
   transition: ease-in 0.5s !important;
}

/* === Área do sobre === */

.sobre-title-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 133px 0px;
    gap: 25px;
}

.title-sobre {
   display: flex;
   flex-direction: column;
}

.title-sobre p{
   font-family: var(--font-primary);
   color: var(--secundaryText);
   font-size: 16px;
   font-weight: var(--regular);
}

.title-sobre h1 {
    font-family: var(--font-primary);
    color: var(--primaryText);
    font-size: 48px;
    font-weight: bold;
}

.divisor-sobre hr{
   background-color: var(--primaryBorder);
   width: 83em;
   border: none;
   padding: 2px;
}

.conteudo-sobre {
    display: flex;
    align-items: center;
}

.sobre-mim {
    display: flex;
    flex-direction: column;
    padding: 0 70px;
    gap: 20px;
}

.sobre-mim h1{
  color: var(--thirdText);
  font-size: 32px;
  font-family: var(--font-primary);
}

.paragrafo-sobre {
    color: var(--secundaryText);
    font-family: var(--font-secundary);
    font-size: 20px;
    padding: 30px 0;
}

.part1-conteudo-sobre {
    padding: 40px 0;
}

.button-sobre a {
    background-color: var(--fifthBack);
    color: var(--fifthText);
    text-decoration: none;
    font-family: var(--font-primary);
    font-weight: var(--SemiBold);
    border-radius: 14px;
    font-size: 16px;
    padding: 14px 23px;
}

.button-sobre a:hover {
    background-color: var(--sixthBack);
    color: var(--primaryText);
    transition: 0.5s ease-in;
}



.sobre-image img {
    width: 700px;
}

.sobre-container-container-responsivo,
.sobre-title-container-responsivo,
.conteudo-sobre-responsivo,
.part1-conteudo-sobre-responsivo,
.part2-conteudo-sobre-responsivo {
    display: none;
}





.container-projetos {
    margin: 7% 10%;
}

.titulo h1 {
    font-size: 40px;

}

.titulo hr {
    width: 60px;
}




/* Área dos projetos  */
.Projetos {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;

}

.card-projetos {
    flex: 0 1 320px;
    gap: 20px;
    margin: 30px;
    max-width: 500px;
    height: auto;
    padding: 35px;
    border-radius: 30px;
    background-color: var(--card-projeto);
    box-shadow: 0 6px 14px #00000056;
}

.card-projetos h2 {
    color: var(--menu);
    margin-bottom: 20px;
}

.card-projetos img {
    max-width: 370px;
}

.tech {
    display: flex;
    flex-wrap: wrap;
    margin-left: 20px;
}

.tecnologias {
    margin: 10px;
    padding: 5px;
    background-color: var(--background);
    color: var(--menu);
    border-radius: 30px;
    font-size: 15px;
}

.tecnologias i {
    margin-right: 5px;
}

.skill {
    display: flex;
    background-color: var(--background);
    align-items: center;
    gap: 8px;
    margin: 10px;
    padding: 5px;
    background-color: var(--background);
    color: var(--menu);
    border-radius: 30px;
    font-size: 15px;
}

.skill img {
    height: 20px;
    width: auto;
}

.conteudo {
    margin-bottom: 50px;
    color: var(--background);
}

.button-card {
    background-color: var(--background);
    color: var(--menu);
    padding: 20px;
    text-decoration: none;

}

.button-card:hover {
    background-color: var(--botoes);
    transition: 1s;

}

.button-card i {
    margin-right: 10px;
}

/*Área das habilidades */

.container-habilidades {
    margin: 10% 7%;
}

.container-habilidades h1 {
    font-size: 40px;
}

.container-habilidades hr {
    width: 100px;
    margin-bottom: 50px;
}

.habilidades {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    margin-bottom: 50px;
    justify-content: center;

}

.card-habilidade {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 60px 50px;
    box-shadow: 0 6px 14px #050505;
    padding: 20px;
    border-radius: 30px;
}

.card-habilidade i {
    font-size: 50px;
    padding: 30px;
}

.container-serviços h1 {
    font-size: 40px;
}

.container-serviços hr {
    margin-bottom: 50px;
}

.card-serviços {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;

}

.serviços {
    display: flex;
    align-items: flex-start;
    width: 45%;
    box-shadow: 0 6px 14px #050505;
    padding: 20px;
    border-radius: 30px;
}

.serviços-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.serviços-img img {
    width: 115px;
    padding: 15px;
}

.serviços hr {
    width: 0;
    height: 150px;
    margin: 0 20px;
}

.serviços-conteudo p {
    font-size: 13px;
}

.contato-container {
    margin: 2% 7%;
}

.contato-container hr {
    margin-bottom: 30px;
    width: 100px;
}

/* Área dos serviços  */

.contato {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 116px;
    max-width: 86%;
    margin: auto;
}

/* Título contato */
.contato h1 {
    font-size: 40px;
    font-weight: bold;
    color: var(--background);
}

.tracin {
    width: 100px;
    margin-bottom: 10px;
}

.traço {
    width: 285%;
}

.texto-contato p {
    line-height: 1.6;
    max-width: 600px;
}

.redes {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.rede {
    text-decoration: none;
    color: var(--background);
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 10px;
}

.rede:hover {
    background-color: var(--botoes);
    padding: 10px;
    border-radius: 30px;
    color: var(--menu);
    transition: 1s;
}

@media  (min-width: 710px) and (max-width: 1133px) { 

/* == HEADER == */
.header {
    display: flex;
    justify-content: space-between;
}

.nav-list {
    gap: 33px;
}

.nav-list a{
    display: none;
}


/* === HEADER RESPONSIVO === */


.nav-responsive {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navlist-responsive {
    display: block;
    position: fixed;
    left: 80%;
    top: 0;
    width: 300px;
    background-color: var(--primaryBack);
    padding: 20px;
    height: 100%;
    list-style: none;
    gap: 50px;
    transition: ease-in 1s;
    z-index: 10;
  
}

.navlist-responsive a {
    display: flex;
    font-family: var(--font-secundary);
    text-decoration: none;
    color: var(--thirdText);
    font-weight: var(--SemiBold);
    padding: 20px;
    
}

.hamburguer-menu {
    display: flex;
    padding: 10px;
    border: 1px solid var(--primaryBorder);
    border-radius: 15px;
    fill: var(--secundaryText);
    background-color: var(--secundaryBack);
}

.closeHamburguer {
    display: flex;
    justify-content: flex-end;
}


.sobre-title-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 133px 0px;
    gap: 25px;
}


.title-sobre p{
   font-size: 16px;
}

.title-sobre h1 {
    font-size: 40px;
  
}


/* === Área do sobre === */

.sobre-title-container {
   display: none;
}

.title-sobre {
   display: none;
}

.title-sobre p{
   font-family: var(--font-primary);
   color: var(--secundaryText);
   font-size: 16px;
   font-weight: var(--regular);
}

.title-sobre h1 {
    font-family: var(--font-primary);
    color: var(--primaryText);
    font-size: 48px;
    font-weight: bold;
}

.divisor-sobre hr{
   background-color: var(--primaryBorder);
   width: 44em;
   border: none;
   padding: 2px;
}

.conteudo-sobre {
   display: none;
}

.sobre-mim {
    display: flex;
    flex-direction: column;
    padding: 0 70px;
    gap: 20px;
}

.sobre-mim h1{
  color: var(--thirdText);
  font-size: 32px;
  font-family: var(--font-primary);
}

.paragrafo-sobre {
    color: var(--secundaryText);
    font-family: var(--font-secundary);
    font-size: 20px;
    font-weight: var(--regular);
    padding: 0px 30px;
}

.part1-conteudo-sobre {
    padding: 40px 0;
}

.button-sobre a {
    background-color: var(--fifthBack);
    color: var(--fifthText);
    text-decoration: none;
    font-family: var(--font-primary);
    font-weight: var(--SemiBold);
    border-radius: 14px;
    font-size: 16px;
    padding: 14px 23px;
}

.button-sobre a:hover {
    background-color: var(--sixthBack);
    color: var(--primaryText);
    transition: 0.5s ease-in;
}


.sobre-container-container-responsivo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 133px 0px;
    gap: 25px;
}

.sobre-title-container-responsivo {
    display: flex;
    flex-direction: column;
}

.title-sobre-responsivo {
   display: flex;
   text-align: center;
   justify-content: center;
   flex-direction: column
}

.title-sobre-responsivo p{
   font-family: var(--font-primary);
   color: var(--secundaryText);
   font-size: 16px;
   font-weight: var(--regular);
}

.title-sobre-responsivo h1 {
    font-family: var(--font-primary);
    color: var(--primaryText);
    font-size: 48px;
    font-weight: bold;
}

.conteudo-sobre-responsivo {
    display: flex;
    flex-direction: column;
}


.part1-conteudo-sobre-responsivo {
    display: flex;
    flex-direction: column;
    font-family: var(--font-primary);
    color: var(--primaryText);
    font-size: 20px;
    font-weight: bold;
}

.part1-conteudo-sobre-responsivo h1{
    font-size: 2.5rem;
    padding: 60px 30px;
    font-family: var(--font-primary);
    color: var(--thirdText);
}

.part2-conteudo-sobre-responsivo {
    display: flex;
    flex-direction: column;
     justify-content: center;
    align-items: center;
    gap: 20px;
}

.sobre-image-responsivo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sobre-image-responsivo img {
    width: 500px;
}
/* === Apresentação === */

.coteudo-principal {
    flex-direction: column;
    padding: 60px 30px;
}

.apresetacao h1 {
    font-size: 2.5em;
}

.apresetacao p {
    font-size: 16px;
}

.button-email {
    font-size: 16px;
}

.button-linkedIn {
    font-size: 16px;
}

.button-instagram {
    font-size: 16px;
}

.button-gitHub {
    font-size: 16px;
}

}
@media (min-width: 370px) and (max-width: 710px) {

     /* == HEADER == */
.header {
    display: flex;
    justify-content: space-between;
}

.nav-list {
    gap: 0px;
}

.nav-list a{
    display: none;
}


/* === HEADER RESPONSIVO === */


.nav-responsive {
    display: flex;
    align-items: center;
    margin: 0 5px;
    
}
.navlist-responsive {
    display: block;
    position: fixed;
    left: 100%;
    top: 0;
    width: 245px;
    background-color: var(--primaryBack);
    padding: 20px;
    height: 100%;
    list-style: none;
    gap: 50px;
    transition: ease-in 1s;
    z-index: 10;
  
}

.navlist-responsive a {
    display: flex;
    font-family: var(--font-secundary);
    text-decoration: none;
    color: var(--thirdText);
    font-weight: var(--SemiBold);
    padding: 20px;
    
}

.hamburguer-menu {
    display: flex;
    padding: 10px;
    border: 1px solid var(--primaryBorder);
    border-radius: 15px;
    fill: var(--secundaryText);
    background-color: var(--secundaryBack);
}

.closeHamburguer {
    display: flex;
    justify-content: flex-end;
    
}

/* === Área do sobre === */

.sobre-title-container {
   display: none;
}

.title-sobre {
   display: none;
}

.conteudo-sobre {
   display: none;
}

.container-projetos-responsivo {
    display: flex;
    flex-direction: column;
}

.sobre-mim {
    display: flex;
    flex-direction: column;
    padding: 0 70px;
    gap: 20px;
}

.sobre-mim h1{
  color: var(--thirdText);
  font-size: 32px;
  font-family: var(--font-primary);
}

.paragrafo-sobre {
    color: var(--secundaryText);
    font-family: var(--font-secundary);
    font-size: 16px;
    font-weight: var(--regular);
    padding: 0px 30px;
}

.part1-conteudo-sobre {
    padding: 40px 0;
}

.button-sobre a {
    background-color: var(--fifthBack);
    color: var(--fifthText);
    text-decoration: none;
    font-family: var(--font-primary);
    font-weight: var(--SemiBold);
    border-radius: 14px;
    font-size: 16px;
    padding: 14px 23px;
}

.button-sobre a:hover {
    background-color: var(--sixthBack);
    color: var(--primaryText);
    transition: 0.5s ease-in;
}


.sobre-container-container-responsivo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 133px 0px;
    gap: 25px;
}

.sobre-title-container-responsivo {
    display: flex;
    flex-direction: column;
}

.title-sobre-responsivo {
   display: flex;
   text-align: center;
   justify-content: center;
   flex-direction: column
}

.title-sobre-responsivo p{
   font-family: var(--font-primary);
   color: var(--secundaryText);
   font-size: 16px;
   font-weight: var(--regular);
}

.title-sobre-responsivo h1 {
    font-family: var(--font-primary);
    color: var(--primaryText);
    font-size: 1.9em;
    font-weight: bold;
}

.divisor-sobre hr {
    width: 26em;
}

.conteudo-sobre-responsivo {
    display: flex;
    flex-direction: column;
}


.part1-conteudo-sobre-responsivo {
    display: flex;
    flex-direction: column;
    font-family: var(--font-primary);
    color: var(--primaryText);
    font-size: 20px;
    font-weight: bold;
}

.part1-conteudo-sobre-responsivo h1{
    font-size: 1.9rem;
    padding: 60px 30px;
    font-family: var(--font-primary);
    color: var(--thirdText);
}

.part2-conteudo-sobre-responsivo {
    display: flex;
    flex-direction: column;
     justify-content: center;
    align-items: center;
    gap: 20px;
}

.sobre-image-responsivo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sobre-image-responsivo img {
    width: 400px;
}

    /* === Apresentação === */

.coteudo-principal {
    flex-direction: column;
    padding: 60px 30px;
}

.apresetacao h1 {
    font-size: 1.9em;
}

.apresetacao p {
    font-size: 16px;
}

.img-principal {
    max-width: 20.7rem;
}

.button-rede-sociais {
    flex-direction: column;
    align-items: normal;
}

.button-email {
    font-size: 16px;
    justify-content: center;
}

.button-linkedIn {
    font-size: 16px;
    justify-content: center;
}

.button-instagram {
    font-size: 16px;
    justify-content: center;
}

.button-gitHub {
    font-size: 16px;
    justify-content: center;
}

/* === 



    /* Área dos projetos  */

    .Projetos {
        flex-direction: column;
        align-items: center;
    }

    .card-projetos {
        flex: 1 1 100%;
        max-width: 500px;
        margin-left: 0px;
        padding: 20px
    }

    .card-projetos h2 {
        font-size: 16px;
    }

    .card-projetos img {
        width: 250px;
    }

    .tech {
        display: flex;
        flex-wrap: wrap;
    }

    .conteudo {
        font-size: 13px;
        margin-bottom: 20px;
    }

    .button-card {
        font-size: 14px;
        padding: 10px;
    }

    .skill img {
        height: 20px;
        width: auto;
    }


    /*Área das habilidades */

    .card-serviços {
        flex-direction: column;
        align-items: center;
        gap: 80px;
    }

    .serviços .serviços-icon {
        align-items: flex-start;
    }

    .serviços {
        width: 90%;
        flex-direction: column;
        text-align: center;
    }

    .serviços-img img {
        width: 250px;
        margin-bottom: 10px;
    }

    .container-habilidades hr {
        height: 0;
        width: 250px;
        margin-bottom: 30px;
    }

    /* Área dos serviços  */

    .contato {
        flex-direction: column;
        text-align: center;
        align-items: center;
        gap: 30px;
    }

    .contato hr {
        width: 280px;
    }

    .texto-contato p {
        text-align: center;
    }

    .redes {
        align-items: center;
        gap: 50px;
    }
}

  
